div h1#register-h1{
    margin: 30px 0 5px 0;
    text-align: center;
    font-size: 36px;
}

form#register{
    width: 100%;
    max-width: 680px;
    margin: 30px auto 0;
    padding: 30px;
    background: #FFF;
    border: 1px solid #DDD;
    display: flex;
    flex-direction: column;
}

form#register input{
    margin-bottom: 15px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #DDD;
    padding: 0 20px;
    font-size: 14px;
}

form#register button{
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background: #272727;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

form#register button:hover{
    background: #272727e8;
    transition: all 0.5s;
}